body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Gris muy claro */
    margin: 0;
    padding: 0;
}

.login-botton {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #a88e68; /* Marrón claro */
    color: white;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.login-botton:hover {
    background-color: #d28a61; /* Marrón medio */
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.liproductos {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.liproductos:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    border-radius: 8px;
}
