body {
    font-family: 'Arial', sans-serif;
    background-color: #B0BEC5; /* Gris metálico */
    color: #333333; /* Gris oscuro */
    margin: 0;
    padding: 0;
}

.login-botton {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #333333; /* Azul oscuro */
    color: white;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.login-botton:hover {
    background-color: #D32F2F; /* Rojo */
    transform: scale(1.1);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.liproductos {
    background-color: #FFFFFF; /* Blanco */
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.liproductos:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

img {
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #8E735B; /* Tono madera */
}
