body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Gris muy claro */
    margin: 0;
    padding: 0;
}

.textocentral {
    background-color: #f0dfcc; /* Beige claro */
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.liproductos {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease;
}

.liproductos:hover {
    transform: translateY(-10px);
}

img {
    max-width: 100%;
    border-radius: 8px;
}

.delete-button, .upload-button, .buy-button {
    background-color: #a88e68; /* Marrón claro */
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.delete-button:hover, .upload-button:hover, .buy-button:hover {
    background-color: #d28a61; /* Marrón medio */
    cursor: pointer;
}

.form-delete, .upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-button {
    margin-top: 20px;
}

.edit-button, .cancel-botton {
    background-color: #f0dfcc; /* Beige claro */
    color: black;
    font-size: 16px;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .cancel-botton:hover {
    background-color: #d28a61; /* Marrón medio */
}

