body {
    font-family: 'Arial', sans-serif;
    background-color: #f0dfcc; /* Beige claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario_login {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    color: #5a5a5a; /* Gris oscuro */
    margin-bottom: 20px;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
}

.inputs {
    border-radius: 8px;
    height: 35px;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
}

.botton-login {
    background-color: #a88e68; /* Marrón claro */
    color: white;
    font-size: 18px;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.botton-login:hover {
    background-color: #d28a61; /* Marrón medio */
}

p {
    font-size: 14px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #a88e68; /* Marrón claro */
}

a:hover {
    color: #d28a61; /* Marrón medio */
}
