body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Gris muy claro */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 40px;
    color: #5a5a5a; /* Gris oscuro */
    margin-bottom: 20px;
}

.cuerpo {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
}

.table-container {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

thead tr {
    background-color: #f0dfcc; /* Beige claro */
}

tbody tr:nth-child(even) {
    background-color: #f7f7f7; /* Gris claro */
}

td {
    padding: 12px;
    font-size: 16px;
}

.volver {
    background-color: #a88e68; /* Marrón claro */
    color: white;
    font-size: 18px;
    padding: 12px;
    width: 200px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.volver:hover {
    background-color: #d28a61; /* Marrón medio */
    cursor: pointer;
}
