body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;
    background-color: #f0dfcc;
}

h1 {
    font-size: 50px;
}

.cuerpo {
    border: 1px solid black;
    height: auto;
    width: 900px;
    display: flex;
    justify-content: center;      
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    padding: 20px; /* Espaciado interno */
}

.table-container {
    width: 800px; /* Ancho de la tabla */
    max-height: 400px; /* Alto máximo para la tabla */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    border: 1px solid #ddd; /* Borde del contenedor */
}

.table-container::-webkit-scrollbar{
    
    background-color: rgba(128, 128, 128, 0.329); /* Fondo de la barra con opacidad */
    border-radius: 30px;

}
.table-container::-webkit-scrollbar-thumb {
    background-color: rgba(71, 71, 71, 0.562); /* Color del botón que se mueve */
    border-radius: 30px; /* Bordes redondeados para el botón */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(19, 19, 19, 0.8); /* Color al pasar el mouse sobre el botón */
}

table {
    width: 100%; /* Ancho total del contenedor */
    height: auto;
    text-align: center;
    border-collapse: collapse; /* Para eliminar el espacio entre bordes de celdas */
}


thead tr {
    font-size: 20px;
    background-color: #f2f2f2; /* Color de fondo del encabezado */
}

tbody {
    font-size: 20px;
}

tr td {
    height: 55px;
}

.volver {
    margin-top: 30px;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.volver a {
    text-decoration: none;
    color: white;
}
.volver:hover a{
    color: #000;
}

.volver:hover {
    transform: translateY(-15px);
    background-color: rgb(196, 193, 193);
    color:black;
    border: none;
}
